docs/_build/
build/
build2017/
build2/
build3/
build2021/
build_skeleton/
data/
dump/
models/
temp/
old_scripts/
*.log
*.exe
*.pdb
*.idb
*.lib
*.exp
*.dll
*.zip
*.cap
*.bin
*.ilk
*.bc
*.DS_Store
trusslog.txt
shader_errors.txt
console_log.txt
error.txt
dist/shaders/raw/shadercRelease
frames/