html, body {
    height: 100%;
}

body {
    margin: 0;
}

.message {
    font-weight: normal !important;
}

.error {
    color: #FF0000 !important;
    font-weight: bold;
    background-color: #000;
}
