---
layout: null
sitemap: false
---
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.highlight pre {
  @include border-radius(0.3em);
  padding: 1em;
  background-color: #eee;
}

.ui.right.rail {
  width: 100% !important;
  top: auto !important;
}

.inverted pre {
  background-color: #333;
}

@import 'monaki';
@import 'borland';
