---
layout: null
sitemap: false
---
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  background-color: #f8f8f8;
}

.highlight pre {
  @include border-radius(0.3em);
  padding: 1em;
  background-color: #e4e4e4;
}

.ui.right.rail {
  width: 100% !important;
  top: auto !important;
}

.inverted pre {
  background-color: #333;
}

.docs-link {
  margin-left: 0.5em;
}

.docs-sublink {
  margin-left: 0.5em;
}

#main {
  margin-left: 3em !important;
}

@import 'monaki';
@import 'borland';
